/* No body padding/margin */
body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/* Intro animation */
#introAnimation {
	height: 100vh;
	width: 100vw;
	background: #111;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	/* safari and opera */ 
	display: -webkit-flex;
	-webkit-flex-flow: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

#introAnimation > * {
	color: #f0f0f0;
	transition: color 2s ease;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4vh;
}

#GO {
	background: #1E90FF;
	box-shadow: 0px 0px 1px 1px #f0f0f0;
	border: 1px solid #1E90FF;
	border-radius: 2px;
	width: 150px;
}

/* Toolbar for menu controls */
#toolbar {
	position: absolute;
	left: 10px;
	top: 10px;
}

#toolbar > .wrapper {
	float: left;
}

#toolbar > .wrapper > * {
	float: left;
	font-size: 14px;
	font-family: sans-serif;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 0px 5px 5px 0px;
}

#toolbar > .wrapper > select {
	height: 30px;
}

#toolbar > .wrapper > label {
	padding: 4px;
}

#toolbar > .wrapper > label > input {
	border: 1px solid #ddd;
	border-radius: 3px;
}

#toggleMenu {
	float: left;
	color: #aaa;
	cursor: pointer;
	padding: 5px;
}

/* Display area for frequency estimate */
#curFreq {
	position: absolute;
	padding: 5px;
	right: 10px;
	bottom: 10px;
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
}
